.bgRuri {
  background-color: #2f3238;
}
.bgManami,
.bgFumi {
  background-color: #e8e8e8;
}
.bgKohana {
  background-color: gray;
}
.container {
  height: 50%;
  text-align: center;
  width: 100%;
}
.container h2 {
  opacity: 20%;
  padding: 50px;
  font-family: "Arial";
  font-size: 40px;
}
.container h2 #ruri {
  color: #fff;
}
.container h2 #manami {
  color: #d8d9da;
}
.container .ruri {
  display: inline-block;
  height: 200px;
  margin-left: 40px;
  position: relative;
  vertical-align: top;
  width: 250px;
}
.container .ruri label {
  bottom: 0px;
  color: #696969;
  font-family: "Arial Black";
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  left: 0%;
  padding-left: 10px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
  width: 100%;
}
.container .ruri input {
  background: transparent;
  border: none;
  border-bottom: 6px solid #B7c3ac;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}
.container .ruri input:focus,
.container .ruri input:valid {
  border-bottom: 3px solid #9cca96;
}
.container .ruri input:focus + label,
.container .ruri input:valid + label {
  color: #9cca96;
  font-size: 15px;
  transform: translateY(60px);
}
.container .manami {
  display: inline-block;
  height: 200px;
  margin-left: 40px;
  position: relative;
  vertical-align: top;
  width: 250px;
}
.container .manami label {
  bottom: 0px;
  color: #696969;
  font-family: "Bahnschrift";
  font-size: 25px;
  font-weight: bold;
  height: 100%;
  left: 0%;
  padding-left: 10px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transition-duration: 0.5s;
  width: 100%;
}
.container .manami input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #a8a8a8;
  color: #fff;
  font-family: "Bahnschrift";
  font-size: 25px;
  height: 50px;
  outline: none;
  padding-left: 10px;
  transition-delay: 0.2s;
  width: 100%;
}
.container .manami input:focus,
.container .manami input:valid {
  background-color: gray;
}
.container .manami input:focus + label,
.container .manami input:valid + label {
  opacity: 50%;
  font-size: 15px;
  transform: translateY(60px);
}
.container .kohana {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.container .kohana label {
  background-color: white;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  bottom: 0px;
  color: gray;
  float: left;
  font-family: "Bahnschrift";
  font-size: 15px;
  font-weight: bolder;
  height: 50px;
  left: -22%;
  pointer-events: none;
  position: absolute;
  width: 60px;
}
.container .kohana label img {
  pointer-events: none;
  padding: 10px;
  width: 30px;
  height: 30px;
  opacity: 0%;
  background-color: transparent;
  margin-top: -35px;
  transition: 1s all;
}
.container .kohana label span .label_details {
  position: absolute;
  pointer-events: none;
}
.container .kohana input {
  width: 200px;
  height: 50px;
  font-size: 25px;
  margin-right: 70px;
  border: none;
  color: gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}
.container .kohana input:focus + input,
.container .kohana input:valid + input {
  border: none;
}
.container .kohana input:focus + label .icon,
.container .kohana input:valid + label .icon {
  margin-top: 0px;
  opacity: 100%;
}
.container .kohana input:focus + label .label_details,
.container .kohana input:valid + label .label_details {
  opacity: 0%;
}
.container .fumi {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.container .fumi label {
  background-color: white;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  bottom: 0px;
  color: gray;
  float: left;
  font-family: "Bahnschrift";
  font-size: 15px;
  font-weight: bolder;
  height: 100px;
  left: -35%;
  pointer-events: none;
  position: absolute;
  width: 80px;
}
.container .fumi label img {
  pointer-events: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-top: -30px;
  transition: 1s all;
}
.container .fumi label img .icon {
  opacity: 100%;
}
.container .fumi label img .icon2 {
  opacity: 0%;
}
.container .fumi label span .label_details {
  position: absolute;
  pointer-events: none;
  float: left;
}
.container .fumi input {
  width: 200px;
  height: 100px;
  font-size: 25px;
  margin-right: 70px;
  border: none;
  color: gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}
.container .fumi input:focus + input,
.container .fumi input:valid + input {
  border: none;
}
.container .fumi input:focus + label .icon,
.container .fumi input:valid + label .icon {
  opacity: 0%;
}
.container .fumi input:focus + label .icon2,
.container .fumi input:valid + label .icon2 {
  margin-top: 0px;
  opacity: 100%;
}
.container .fumi input:focus + label .label_details,
.container .fumi input:valid + label .label_details {
  opacity: 0%;
}
